.scroll-bar {
    overflow-x: auto;
    white-space: nowrap;
}

.scroll-bar::-webkit-scrollbar {
    display: none;
}

.scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.card {
    min-width: 200px;
    max-width: 200px;
}