.icon-button {
    transition: background-color 0.3s ease, filter 0.3s ease;
}

.icon-button.active {
    filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.2);
}


.lyrics-container {
    background-color: #1a202c;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 1rem;
    max-width: 100%;
    overflow-y: auto;
}