@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
    caret-color: white !important;
}